{% extends 'layout/admin.base.twig' %}
{% block content %}
    <legend>Administration des articles</legend>
    {% for article in articles %}
        <div class="well">
        <h4>Article {{ article.id }}</h4>
        <h6>Langue : {{ article.lang }}</h6>
        {{ article.contenu|raw}}
        <div class="clearfix"></div>
        <a class="btn btn-warning" href="{{ app.request.basepath }}/admin/news/edit/{{ article.id }}/{{ article.lang }}">Editer</a>
        <a class="btn btn-danger" href="{{ app.request.basepath }}/admin/news/delete/{{ article.id }}">Supprimer</a>
        </div>
    {% endfor %}
{% endblock %}