{% extends 'layout/admin.base.twig' %}
{% block content %}
    <legend>Administration du Carousel</legend>
    <h4>Images du carousel</h4>
    <div id="slide">
        {%for image in carousel%}
            <img src="{{app.request.basepath}}/img/carousel/{{image}}" alt="{{image}}" />
        {% endfor %}
    </div>
    <a class="btn btn-block btn-primary btn-large" href="{{ app.request.basepath }}/admin/carousel/select">Changer les images</a><br>
    <a class="btn btn-block btn-primary btn-large" href="{{ app.request.basepath }}/admin/carousel/upload">Téléverser des images</a>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{app.request.basepath}}/js/jqFancyTransitions.1.8.js" ></script>
{% endblock %}