{% extends 'layout/admin.base.twig' %}
{% block content %}
    <legend>Aministration</legend>
    <p>Il y a actualement {{ nbArticle/3 }} article en ligne dans 3 langues différentes</p>
    <p>Vos coordonées de contact sont : </p>
    <table class="table-bordered table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Valeur
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    {{ conf[0].key }}
                </th>
                <td>
                    {{ conf[0].value }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ conf[1].key }}
                </th>
                <td>
                    {{ conf[1].value }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ conf[2].key }}
                </th>
                <td>
                    {{ conf[2].value }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ conf[3].key }}
                </th>
                <td>
                    {{ conf[3].value }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ conf[4].key }}
                </th>
                <td>
                    {{ conf[4].value }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ conf[5].key }}
                </th>
                <td>
                    {{ conf[5].value }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ conf[6].key }}
                </th>
                <td>
                    {{ conf[6].value }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ conf[7].key }}
                </th>
                <td>
                    {{ conf[7].value }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ conf[8].key }}
                </th>
                <td>
                    {{ conf[8].value }}
                </td>
            </tr>
        </tbody>
    </table>
    <legend>Fonctionnalité : </legend>
    <p>Petit récapitulatif de ce qui fonctionne ou non sur l'administration et le site.</p>
    <table class="table-bordered table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    état
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    Ajout/modification/supression d'article
                </th>
                <td>
                    Actif
                </td>
            </tr>
            <tr>
                <th>
                    Ajout/Suppression d'administrateur
                </th>
                <td>
                    Actif
                </td>
            </tr>
            <tr>
                <th>
                    Édition multilingue de la description
                </th>
                <td>
                    Actif
                </td>
            </tr>
            <tr>
                <th>
                    Modification des informations sur l'entreprise
                </th>
                <td>
                    Actif
                </td>
            </tr>
            <tr>
                <th>
                    Modification des images du carousel
                </th>
                <td>
                    Actif
                </td>
            </tr>
            <tr>
                <th>
                    Connexion avec identifiant
                </th>
                <td>
                    Actif (mais ne ce connecte pas à la base de données)
                </td>
            </tr>
            <tr>
                <th>
                    Demande de validation avant action importante (supression, modification)
                </th>
                <td>
                    Non implémenter pour le moment
                </td>
            </tr>
            <tr>
                <th>
                    Gestion du menu
                </th>
                <td>
                    Non implémenter pour le moment
                </td>
            </tr>
            <tr>
                <th>
                    Multilangue
                </th>
                <td>
                    Implémenté au niveau de la base. Non implémenté pour les information statique du site.
                </td>
            </tr>
            <tr>
                <th>
                    Upload d'image carousel
                </th>
                <td>
                    Implémenté.
                </td>
            </tr>
            <tr>
                <th>
                    Gestion de la présentation d'un article (gras, italique, retour à la ligne, ...).
                </th>
                <td>
                    Implémenté (l'upload des images et l'incorporation dans le texte n'est pas stable voir non fonctionnel à cause de problème de routing)
                </td>
            </tr>
            <tr>
                <th>
                    Vérification des données envoyé par url
                </th>
                <td>
                    Implémenté uniquement pour la gestion de la langue sur le site principal.
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}