{% extends 'layout/admin.base.twig' %}
{% block content %}
    <legend>Administration des administrateurs</legend>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Identifiant
                </th>
                <th>
                    Email
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.id }}
                </td>
                <td>
                    {{ user.login }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    <a class="btn btn-danger" href="{{ app.request.basepath }}/admin/user/delete/{{ user.id }}"><i class="icon-trash icon-white"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ app.request.basepath }}/admin/user/create">Ajouter</a>
{% endblock %}