
<!DOCTYPE html >
<html>
	<head>
		<meta charset="utf-8">
		<title>Pollina</title>
                <link rel="icon" type="image/png" href="http://www.pollina-imp.fr/images/favicon.png">
                <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
                <link rel="stylesheet" type="text/css" media="screen" href="{{app.request.basepath}}/css/style.css" />
                <script type="text/javascript" src="{{app.request.basepath}}/js/jquery.js"></script>
	    {% block stylesheet %}
        {% endblock %}
    </head>
	<body onload="">
        <div id="content">
            <div id="header">
                <div id="img_header" ><a href="{{app.request.basepath}}"><div id="link_logo" ></div></a> </div>
                        <div id="menu_lang">
                            <a href="{{app.request.basepath}}/fr/" id="lang_fr" ></a>
                            <a href="{{app.request.basepath}}/en/" id="lang_en" ></a>
                            <a href="{{app.request.basepath}}/de/" id="lang_de" ></a>
                            <a href="{{facebook}}"  title="facebook" target="_blank"><div id="menu_fb" ></div></a>
                            <a href="{{twitter}}"  title="twitter" target="_blank"><div id="menu_twitter" ></div></a>

                        </div>
                        <div id="g-plus">
                            <div  class="g-plusone" data-size="tall"></div>
                        </div>
            </div>
            {% block nav %}
            <nav id="nav_article" >
                <div id="prev_article" ></div>
                <div id="next_article" ></div>
            </nav>
            {% endblock %}
                
                <div id="menuContent">
                    <nav id="menu">
                        <div class="menu blue" id="menu1">
                            <a href="{{app.request.basepath}}" >L&#039;ENTREPRISE</a>
                        </div>
                        <div class="menu pink" id="menu2">
                            <a href="{{ path('metiers',{lang: lang}) }}" >NOS MÉTIERS</a>
                        </div>
                        <div class="menu yellow" id="menu3" ><a href="{{ path('nous_contactez',{lang: lang}) }}" class="blackLink">CONTACT</a></div>
                        <div class="menu black" id="menu4" ><a href="{{ path('espace_client',{lang: lang}) }}" >ESPACE CLIENT</a></div>
                    </nav>

                   {%for menu in menus%}
                   <div id="sousmenuMetier" class="sousmenuH">
                        <ul>
                        {%for sub_menu in menu.sub_menus%}
                            <li><a href="#">{{ sub_menu.name }}</a>
                                <ul class='menulvl3'>
                                    {%for sub_sub_menu in sub_menu.sub_sub_menu%}
                                             <li><a href="{{ path('item_01',{lang: lang}) }}" >{{ sub_sub_menu.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}  
                        </ul>
                   </div>      
                   {% endfor %}
               </div> <!-- fin menu -->
                
        
            {% block slide %}
            <div id="news">
               <div id="news_content">
                    {{description|raw}}
               </div>
            </div>
            <div id="slide">
                <div id="slideshowHolder" >
                    {%for image in carousel%}
                         <img src="{{app.request.basepath}}/img/carousel/{{image}}" alt="{{image}}" />
                    {% endfor %}
                </div>
            </div>
            {% endblock %}
            {%block article%}

            {%endblock%}
               
            <div id="footer">
                <div id="img_footer" >
                    <nav id="menu_footer"> <a href="{{app.request.basepath}}">L'entreprise</a> - <a href="{{ path('metiers',{lang: lang}) }}">Nos métiers</a> - <a href="{{ path('espace_client',{lang: lang}) }}">Espace Client</a> - <a href="{{ path('mention_legal',{lang: lang}) }}">Mentions légales</a> - <a href="{{ path('plan_site',{lang: lang}) }}">Plan du site</a> - <a href="{{ path('nous_contactez',{lang: lang}) }}">Contact</a></nav>
                    <div id="info_footer">
                        {{adresse}}<br />
                        {{CP}} {{city}}<br />
                        Tel: {{phone}}<br />
                        Fax: {{fax}}<br />
                    </div>
                    <div id="social_footer"><div class="titre_footer">SUIVEZ-NOUS</div>
                        <div >
                            <a  class="img_social_footer" href="{{facebook}}"  title="facebook" target="_blank"><img src="{{app.request.basepath}}/img/footer_facebook.png" alt="facebook"  /><span class="link_social_footer">Facebook</span></a>
                            <div class="clear"></div>
                            <a class="img_social_footer" href="{{twitter}}"  title="twitter" target="_blank"><img src="{{app.request.basepath}}/img/footer_twitter.png" alt=""  /><span class="link_social_footer">Twitter</span></a>
                            <div class="clear"></div>
                            <a class="img_social_footer" href="{{gplus}}"  title="googleplus" target="_blank"><img src="{{app.request.basepath}}/img/footer_google.png" alt=""  /><span class="link_social_footer">Google +</span></a>
                            <div class="clear"></div>
                            <a class="img_social_footer" href="{{rss}}"  title="rss" target="_blank"><img src="{{app.request.basepath}}/img/footer_rss.png" alt=""  /><span class="link_social_footer">RSS</span></a>
                        </div>
                    </div>
                    <div id="newsletter_footer">
                        <div class="titre_footer">RESTEZ INFORME</div>
                        <p>Abonez-vous à notrenewsletter et restez informé de l'actualité de Pollina Imprimerie</p>
                        <input type="text" placeholder="Votre-email">
                        <button type="submit" ></button>
                    </div>
                </div>
            </div>
      </div>
		<script type="text/javascript" src="{{app.request.basepath}}/js/jquery.js"></script>
                <script type="text/javascript" src="{{app.request.basepath}}/js/jqFancyTransitions.1.8.js" ></script>
                <script type="text/javascript" src="{{app.request.basepath}}/js/fonction.js"></script>
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
                    {lang: 'fr'}
        </script>
        {% block javascript %}
        {% endblock %}
	</body>
</html>
