
<!DOCTYPE html >
<html>
	<head>
		<meta charset="utf-8">
		<title>Pollina</title>
                
                <link rel="stylesheet" type="text/css" media="screen" href="{{app.request.basepath}}/css/style.css" />
	</head>
	<body>
        <div id="content">
            <header id="header">
                        <div id="img_header" > </div>
                        <div id="menu_lang">
                            <a href="{{app.request.basepath}}/fr/" id="lang_fr" ><!--<img src="{{app.request.basepath}}/img/fr_false.png" alt=""  />--></a>
                            <a href="{{app.request.basepath}}/en/" id="lang_en" ><!--<img src="{{app.request.basepath}}/img/en_false.png" alt=""  />--></a>
                            <a href="{{app.request.basepath}}/de/" id="lang_de" ><!--<img src="{{app.request.basepath}}/img/de_false.png" alt=""  />--></a>
                            <a href="{{facebook}}"  title="facebook" target="_blank"><div id="menu_fb" ><!--<img src="{{app.request.basepath}}/img/de_false.png" alt=""  />--></div></a>
                            <a href="{{twitter}}"  title="twitter" target="_blank"><div id="menu_twitter" ><!--<img src="{{app.request.basepath}}/img/de_false.png" alt=""  />--></div></a>

                        </div>
                        <div id="g-plus">
                            <div  class="g-plusone" data-size="tall"></div>
                        </div>
            </header>
            <nav id="nav_article" >
                <div id="prev_article" ></div>
                <div id="next_article" ></div>
            </nav>
            <nav id="menu">
                <ul id="ul_menu">
                    <li><div class="menu"  ><a herf="#" id="menu_1" class="menu_title" > L'ENTREPRISE </a></div></li>
                    <li>
                        <div class="menu"  ><a herf="#" id="menu_2"class="menu_title" > NOS METIERS </a>

                            <ul class="sous_menu" id="sous_menu_2">

                                <li><a href="#">METIER 01</a>
                                       <ul class="sous_sous_menu">
                                                <li><a href="#">Item 01</a></li>
                                                <li><a href="#">Item 02</a></li>
                                                <li><a href="#">Item 03</a></li>
                                        </ul>
                                        <div class="clear"></div></li>
                                <li><a href="#">METIER 02 </a>
                                        <ul class="sous_sous_menu">
                                                <li><a href="#">Item 01</a></li>
                                                <li><a href="#">Item 02</a></li>
                                                <li><a href="#">Item 03</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                </li>
                                <li><a href="#">METIER 03 </a></li>

                           </ul>
                       </div>
                    </li>
                    <li><div class="menu"  ><a herf="#" id="menu_3" class="menu_title" > CONTACT  </a></div></li>
                    <li><div class="menu"  ><a herf="#" id="menu_4" class="menu_title" > ESPACE CLIENT  </a></div></li>
                </ul>
            </nav>
            <div id="news">
               <div id="news_content">
                    {{description|raw}}
               </div>
            </div>
            <div id="slide">
                <div id="slideshowHolder" >
                    {%for image in carousel%}
                         <img src="{{app.request.basepath}}/img/carousel/{{image}}" alt="{{image}}" />
                    {% endfor %}
                </div>
            </div>
            <div id="container">
                {%block article%}
                {%endblock%}}
            </div>
            <footer id="footer">
                <div id="img_footer" >
                    <nav id="menu_footer"> L'entreprise - Nos métiers - Espace Client - Mentions légales - Plan du site - Contact</nav>
                    <div id="info_footer">
                        {{adresse}}<br />
                        {{CP}} {{city}}<br />
                        Tel: {{phone}}<br />
                        Fax: {{fax}}<br />
                    </div>
                    <div id="social_footer"><div class="titre_footer">SUIVEZ-NOUS</div>
                        <div >
                            <div class="img_social_footer"><a href="{{facebook}}"  title="facebook" target="_blank"><img src="{{app.request.basepath}}/img/footer_facebook.png" alt="facebook"  /><span class="link_social_footer">Facebook</span></a></div>
                            <div class="clear"></div>
                            <div class="img_social_footer"><a href="{{twitter}}"  title="twitter" target="_blank"><img src="{{app.request.basepath}}/img/footer_twitter.png" alt=""  /><span class="link_social_footer">Twitter</span></a></div>
                            <div class="clear"></div>
                            <div class="img_social_footer"><a href="{{gplus}}"  title="googleplus" target="_blank"><img src="{{app.request.basepath}}/img/footer_google.png" alt=""  /><span class="link_social_footer">Google +</span></a></div>
                            <div class="clear"></div>
                            <div class="img_social_footer"><a href="{{rss}}"  title="rss" target="_blank"><img src="{{app.request.basepath}}/img/footer_rss.png" alt=""  /><span class="link_social_footer">RSS</span></a></div>
                        </div>
                    </div>
                    <div id="newsletter_footer">
                        <div class="titre_footer">RESTEZ INFORME</div>
                        <p>Abonez-vous à notrenewsletter et restez informé de l'actualité de Pollina Imprimerie</p>
                        <input type="text" placeholder="Votre-email">
                        <button type="submit" ></button>
                    </div>
                </div>
            </footer>
      </div>
		<script type="text/javascript" src="{{app.request.basepath}}/js/jquery.js"></script>
                <script type="text/javascript" src="{{app.request.basepath}}/js/jqFancyTransitions.1.8.js" ></script>
                <script type="text/javascript" src="{{app.request.basepath}}/js/fonction.js"></script>
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
                    {lang: 'fr'}
        </script>
	</body>
</html>
			